<h1 mat-dialog-title>Форма додавання товару</h1>

<div mat-dialog-content>

  <form [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>Назва товару</mat-label>
      <input formControlName="name" matInput placeholder="Введіть назву товару">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Категорія товару</mat-label>
      <mat-select formControlName="category" placeholder="Виберіть категорію товару">
        <mat-option value="Комп'ютери">Комп'ютери</mat-option>
        <mat-option value="Планшети">Планшети</mat-option>
        <mat-option value="Монітори">Монітори</mat-option>
        <mat-option value="Ноутбуки">Ноутбуки</mat-option>
        <mat-option value="Сервери">Сервери</mat-option>
        <mat-option value="Оргтехніка">Оргтехніка</mat-option>
        <mat-option value="Акустика">Акустика</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label id="example-radio-group-label">
      <h2>Стан товару</h2>
    </label>
    <mat-radio-group formControlName="productCondition" aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let element of productConditionList" [value]="element">
        {{element}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Ціна, $</mat-label>
      <input formControlName="price" matInput placeholder="Ціна товару..." type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Додатково</mat-label>
      <textarea cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize matInput
        placeholder="Введіть опис товару..." formControlName="comment"></textarea>
    </mat-form-field>

    <div align="end" mat-dialog-actions>
      <button mat-dialog-close mat-raised-button>Відмінити</button>
      <button [disabled]="form.invalid" (click)="editData?updatedProduct(): addProduct()" color="accent"
        mat-raised-button>{{editData?'Змінити':'Зберегти'}}</button>
    </div>
  </form>
</div>